{% extends "PGSO_06ABA_Instructions_Part3BBB/myPage.html" %}
{% load staticfiles otree %}

{% block title %}
	 Match Overview
{% endblock %}



{% block content %}
    <div class="card bg-light instructions">
    <div class="card-body">
		         <div style="position:relative;left: 20%;width: 60%;background-color: #ffffff">
	<p> Each match will last for a random number of <strong style="color: red;"> rounds </strong> as in part 2. </p>
			
			<ul>
                <li>At the end of each round the computer will roll a ten-sided fair dice.</li>
                <li>If the computer rolls a number less than {{ CutoffRoll }}, then the <strong style="color: blue;">match continues</strong> for at least one more round .</li>
                <li>If the computer rolls a {{ CutoffRoll }} , then the <strong style="color: blue;">match ends</strong> after the current round.</li>
				<li> Your payment will be the sum of all rounds until the match ends. 
				Your payment for part 3 will be determined by the sum of the points that you earn in all 3 matches 
				with a conversion rate of: {{PointsPerDollar}} points = $1.   </li>
			</ul>

            <p>To test this procedure, click the 'Test' button below. You will need to test this procedure 5 times.</p>



            <br>
</div>
            <div class="outerbox" id="id_outerbox" style="display:block;">

                <div class="periodLabel">Round</div>
                <div class="randomNumLabel">Dice Roll</div>
                <div class="scrollLabel" id="scrollLabel">Scroll Bar</div>

                <div class="innerbox" id="id_innerbox">
                </div>
				<br> 
                <p style="font-size: 16px;color: gray;z-index: 6; position: absolute; bottom: 0px; left: 300px;">
				Remember that at the end of each round the computer rolls a ten-sided fair dice. The match ends when the computer rolls a {{ CutoffRoll }}. You will get the feedback at round 10,20,etc.</p>
            <button class="otree-btn-next btn btn-primary" id="diceRollButton" type="button"
                        style="left:5px; bottom:2px; height: 21px; width: 140px; line-height: 15px; padding: 3px; background-color: #1e8f27; border-color: #1e8f27;position: absolute; display: none;z-index: 5"
                        onclick="rollDice()">Roll Dice</button>
            </div>

            <p style="text-align: left;display: none" id="matchSummary">
            Match duration: <strong id="summaryRounds">X</strong> rounds<br/>
            </p>
            <br/>

            <p style="text-align: center">

                <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
                style="background-color: #1e8f27; border-color: #1e8f27;"
            onclick="startMatch()">Test #1</button>
            </p>
			
			
			

			<div style="position:relative;left: 20%;width: 60%;background-color: #ffffff">
            <p >
			 
			However, you will not know whether each match has ended immediately. 
			<ul>
			<li> You will make 10 rounds of decisions at first. </li>
			<li> At the end of round 10, if your match has ended, you will see the computer roll history till the end round. </li>
			<li> If your match has not ended, you will make another 10 rounds of decisions. </li> 
			<li> The process will continue until your match ends in the last 10 rounds of decisions. </li>
			
			</ul></p>
			<p style="text-align: center">
                <button class="otree-btn-next btn btn-primary" id="NextButton" style="display:inline-block;">Next</button>
            </p>
			</div>

    </div>
    </div>
	
    <input type="hidden" name="testingHistory" value="," id="id_testingHistory"/>

{% endblock %}


{% block scripts %}
    <script>
	
    var continuationProb = 100*({{ CutoffRoll|json }}-1)/10;
    var terminationProb = 100*(10-{{ CutoffRoll|json }}+1)/10;


    updateText('continuationProb',continuationProb.toFixed(0));
    updateText('terminationProb',terminationProb.toFixed(0));
	
	{% block app_scripts %}

<script>

        document.addEventListener('keydown', function(event) {
          if ((event.code == 'KeyR' || event.code == 'KeyF' || event.code == 'KeyS')  && (event.ctrlKey || event.metaKey)) {event.preventDefault();}
          if ((event.code == 'F5')) {event.preventDefault();}
          if ((event.code == 'Tab')) {event.preventDefault();}
          if ((event.code == 'Enter')) {event.preventDefault();}
          if ((event.code == 'NumpadEnter')) {event.preventDefault();}
          if ((event.code == 'Space')) {event.preventDefault();}
          if ((event.code == 'ArrowLeft' || event.code == 'ArrowRight') && (event.code=='AltLeft' || event.code=='altRight' || event.altKey || event.metaKey) ) {event.preventDefault();}
        });

        var MyVariables = {period:0,match:1};

        showInline("startMatchButton");
        enableButton("startMatchButton");
        hide("matchSummary");
        hide("NextButton");

        function startMatch() {

            resetGame();
            MyVariables.period=1;
            hide("matchSummary");
            disableButton("startMatchButton");

            //Period
            var p = MyVariables.period;
            var per = document.createElement('div');
            per.className = 'period';
            per.id = 'id_period_' + p.toFixed(0);
            per.innerHTML = p.toFixed(0);
            per.style.backgroundColor = 'white';
            per.style.left = (50 * (1 - p)).toFixed(0) + "px";
            document.getElementById("id_innerbox").appendChild(per);

            var per = document.createElement('div');
            per.className = 'randomNum';
            per.id = 'id_randomNum_' + p.toFixed(0);
            per.style.left = (50 * (1 - p)).toFixed(0) + "px";
            per.innerHTML="";
            document.getElementById("id_innerbox").appendChild(per);

        };

        function rollDice() {

            var p = MyVariables.period;
            var randomItem = 1 + Math.floor(Math.random() * 10);

            var tempElem = document.getElementById('id_testingHistory');
            tempElem.value = tempElem.value + randomItem.toFixed(0)+",";

            if(MyVariables.period>23){
                enableScroll("id_innerbox");
                show("scrollLabel");
            }

            var per = document.getElementById('id_randomNum_' + p.toFixed(0));

            if (randomItem < {{ CutoffRoll|json }}) {
                per.innerHTML = randomItem;
                MyVariables.period++;

                var p = MyVariables.period;
                var per = document.createElement('div');
                per.className = 'period';
                per.id = 'id_period_' + p.toFixed(0);
                per.innerHTML = p.toFixed(0);
                per.style.backgroundColor = 'white';
                per.style.left = (50 * (p - 1)).toFixed(0) + "px";
                document.getElementById("id_innerbox").appendChild(per);

                var per = document.createElement('div');
                per.className = 'randomNum';
                per.id = 'id_randomNum_' + p.toFixed(0);
                per.style.left = (50 * (p - 1)).toFixed(0) + "px";
                per.innerHTML = "";
                document.getElementById("id_innerbox").appendChild(per);


            } else {
                per.style.fontWeight = "bold";
                per.style.color = "red";
                per.innerHTML = randomItem;
                per.style.opacity = 0;

                var tempElem = document.getElementById('id_testingHistory');
                tempElem.value = tempElem.value + "-";

                updateText('startMatchButton','Test #'+(MyVariables.match+1).toFixed(0));
                enableButton("startMatchButton");
                show("matchSummary");
                updateText("summaryRounds", MyVariables.period.toFixed(0));

                MyVariables.match++;


                if(MyVariables.match>5) { // <------ update to 10 for the experiment
                    showInline("NextButton");
                    disableButton("startMatchButton");
                    hide("startMatchButton");
                }
                hide("diceRollButton");
                disableButton("diceRollButton");

            }


            var names = ['id_randomNum_', 'id_period_'];


            for (var p = 1; p <= MyVariables.period - 1; p++) {
                for (var i = 0; i < names.length; i++) {
                    var x = document.getElementById(names[i] + p.toFixed(0));
                    x.style.left = (50 * (p-1)).toFixed(0) + "px";
                }
            }


        };

        function resetGame(){
            var elems = ['id_period_','id_randomNum_'];
            for( var p=1; p<=MyVariables.period; p++) {
                for ( var i=0; i<elems.length; i++ ){
                    var elemName = elems[i] + p.toFixed(0);
                    var elementExists = document.getElementById(elemName);
                    if (elementExists != null) {deleteElement(elemName);}
                }
            }
            MyVariables.period=0;
            hide("scrollLabel");
            disableScroll("id_innerbox");

            show("diceRollButton");
            enableButton("diceRollButton");
        };



        function showText(target,someText) {
            var x = document.getElementById(target);
            x.style.display = "block";
            x.innerHTML=someText;
        };
        function updateText(target,someText) {
            var x = document.getElementById(target);
            x.innerHTML=someText;
        };
        function hide(target) {
            var x = document.getElementById(target);
            x.style.display = "none";
        };
        function disableButton(target){
            var x = document.getElementById(target);
            x.style.borderColor = "gray";
            x.style.backgroundColor = "gray";
            x.style.pointerEvents="none";
        };
        function enableButton(target){
           var x = document.getElementById(target);
           x.style.borderColor = "#1e8f27";
           x.style.backgroundColor = "#1e8f27";
           x.style.pointerEvents="all";
        };
        function disableScroll(target){
            var x = document.getElementById(target);
            x.style.overflowX='hidden';
        };
        function enableScroll(target){
            var x = document.getElementById(target);
            x.style.overflowX='scroll';
            {#x.style.direction='rtl';#}
        };
        function show(target) {
            var x = document.getElementById(target);
            x.style.display = "block";
        };
        function showInline(target) {
            var x = document.getElementById(target);
            x.style.display = "inline-block";
        };
        function showFlex(target) {
            var x = document.getElementById(target);
            x.style.display = "flex";
        };
        function deleteElement(elementID){
              var element = document.getElementById(elementID);
              element.parentNode.removeChild(element);
         };


</script>

{% endblock %}

    </script>
{% endblock %}