{% extends "otree/Page.html" %}
{% load staticfiles otree %}

{% block app_styles %}
    {% include 'PGSO_08ABA_ClubOpp_Par3BBB/commonCSS.html' %}
{% endblock %}

{% block title %}
    Round Overview II 
{% endblock %}

{% block content %}

    <br><br>

    <div class="card-body" style="text-align: left; padding-left: 10%;padding-right: 10%;font-size: 18px;">
	<div style="position:relative;left: 10%;width: 80%;background-color: #ffffff">
	<u>Earnings  </u>
		<p> Your earning in each round is: 
			<center> <strong>
			1 * Number of points in your Private Account
			<br> +
			<br> 0.6 * Number of points in <mark_groupAcc>Group Account</mark_groupAcc>
			<br> + 
			<br> if you paid the fee:  0.6 * Number of points in <mark_groupAcc2>Group Account #2</mark_groupAcc2>, 
			</strong> </center>
		</p>
		
	<p> For example, 
	<!-- Hard coding here, may need to change in the future -->
	{{ if HOMO }} your endowment in each round is 20 points, 
	{{ else  }} {{ if myEndow == -1 }} suppose your endowment in each round is <span id='rndm_endow'> </span> points.
				{{ else }} your endowment in each round is {{myEndow}} points. {{ endif }}
	{{ endif }} </p>
			
	 <p> First, you need to decide whether to pay {{FC}} points and gain access to   <mark_groupAcc2>Group Account #2</mark_groupAcc2> :
	<button  name="join_club" type="button" class="btn btn-primary" value=1 onclick="ExpandTable(this)"> Yes </button>
		<button  name="join_club" type="button"  class="btn btn-primary" value=0 onclick="ExpandTable(this)"> No </button>
		</p>
	<p id='allocation'> 
	
	
	 
	<p id="contribution_local_e" style="color:red"> 
	<p id="contribution_global_e" style="color:red"> 
	</p>
	
	<p> Further suppose other participants allocate <span id='rndContribution'>
	<button type="button"  
	style="left:5px; bottom:2px; height: 21px; width: 150px; line-height: 15px; padding: 3px; background-color: lightblue; border-color: #1e8f27;"  
	onclick='fillContr(l)'> Group Account </button> 
	</span> 
	<button type="button"  
	style="left:5px; bottom:2px; height: 21px; width: 150px; line-height: 15px; padding: 3px; background-color: lightgreen; border-color: #1e8f27;"  
	onclick='fillContr(g)'> Group Account #2 </button> 
	</span> points to the two group accounts. </p>

	
	</p>
	<mark_groupAcc>pnts_group</mark_groupAcc> and <mark_groupAcc2>pnts_group2</mark_groupAcc2> 
	
	<p> YOur earnings = 1 * prvt_acc + 0.6 * (your_acc + pnts_group ) + 0.6 * (your_acc2 + pnts_group2)</p>


	
	<p> At the end of each round, your earnings for the round will be recorded. 
		Your payment for part 3 will be determined by the sum of the points 
		that you earn in all three matches with a conversion rate of: {{PointsPerDollar}} points = $1. 
	</p>
		

	<u> Information </u>
	
	<p> You will be able to review both <mark_groupAcc> Group Account </mark_groupAcc> and <mark_groupAcc2>Group Account #2</mark_groupAcc2> 
	information for all previous rounds within a match.</p>

	<p> To achieve this, you need to click the button to review last round information first. </p> 
	
	<img style="max-width: 100%" class="center" src="{{ static 'Instruction/LastRoundInfor_LandG_Small.png' }}"/>
	
	<p> You will see the group member table is updated with your previous round allocation and the group total account. 
	You may click the relevant buttons to review each member’s allocation or the full history. </p>
	<img style="max-width: 100%;" class="center" src="{{ static 'Instruction/MoreHistory_LandG.png' }}"/>

        <p style="text-align: center"><br/><br/>
            <button class="otree-btn-next btn btn-primary" id="NextButton" style="display:inline-block;">Next</button>
        </p>

    </div>
	</div> 

{% endblock %}


{% block scripts %}
    {% include 'PGSO_08ABA_ClubOpp_Par3BBB/commonJS.html' %}
	<script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
	function randomChoice(arr) {
    return arr[Math.floor(arr.length * Math.random())];
	}	
	
	var FC = js_vars.fc; 
	

	
	if (js_vars.endow != -1) {
		var myEndow = js_vars.endow;
		}
	else {
		var myEndow = randomChoice([10,30]);
		}

	
	document.getElementById('rndm_endow').innerHTML = myEndow;
	
	var newEndow = 0 ;
	function ExpandTable(ele) {
	if (ele.value == 1) {
	newEndow = myEndow - FC;
	var num = "among three";
	}
	else {
	newEndow = myEndow;
	var num = "between two";
	}
	
	var allocation = document.getElementById('allocation');
	allocation.innerHTML = "Next, since you paid the fee, you have "+ newEndow + " points to allocate "+num+" accounts:";
	table_t = document.createElement('table');
	table_t.className = "table table_belief";
	table_t.style = "width:500px;";
	
	var tr = document.createElement('tr');
	var th = document.createElement('th');
	th.innerHTML = "Private Account:";
	tr.appendChild(th);
	var th = document.createElement('th');
	th.innerHTML = "<input type='number'  id='privateAcc' readonly >";
	tr.appendChild(th);
	table_t.appendChild(tr);
	
	var tr = document.createElement('tr');
	tr.style="background-color:lightblue;";
	var th = document.createElement('th');
	th.innerHTML = "Group Account:";
	tr.appendChild(th);
	var th = document.createElement('th');
	var input = document.createElement("input");
	input.setAttribute("id", "contribution_local");
	input.setAttribute("name", "contribution_local");
	input.setAttribute("type", "number");
	input.setAttribute("min", "0");
	input.setAttribute("oninput", "Allocation(this)");
	th.appendChild(input);
	tr.appendChild(th);
	table_t.appendChild(tr);
	
	if (ele.value == 1) {
	var tr = document.createElement('tr');
	tr.style="background-color:lightgreen";
	var th = document.createElement('th');
	th.innerHTML = "Group Account #2:";
	tr.appendChild(th);
	var th = document.createElement('th');
	var input = document.createElement("input");
	input.setAttribute("id", "contribution_global");
	input.setAttribute("name", "contribution_global");
	input.setAttribute("type", "number");
	input.setAttribute("min", "0");
	input.setAttribute("oninput", "Allocation(this)");
	th.appendChild(input);
	tr.appendChild(th);
	table_t.appendChild(tr);
	}
	
	allocation.appendChild(table_t); 
	document.getElementById('privateAcc').value = newEndow;
	join_club = ele.value;

	randomContr
	}
	

	function Allocation(ele) {
		
	var prvtAcc = document.getElementById("privateAcc");
	if (ele.id.includes("local") ) {
	var grpAcc =  document.getElementById("contribution_global");}
	else if (ele.id.includes("global") ) {
	var grpAcc =  document.getElementById("contribution_local");}
	
	<!-- If I joined the club, I need to allocate three accounts -->
	<!-- 1) whether the ele.value is within range;  -->
	var myEndow = newEndow;
	if ( ele.value >= 0 && ele.value <= myEndow ) {
		if ( join_club ) {
			<!-- 2) the other account has a specified value -->
			if (grpAcc.value != null) {
				var tot = Number(grpAcc.value) + Number(ele.value);
				if ( tot > myEndow  ) {
				var error = document.getElementById(ele.id+"_e");
					error.innerHTML = "Your total allocation must be less than " + myEndow +"."
					ele.focus()
					return false
				}
				prvtAcc.value = myEndow - ele.value - grpAcc.value ; 
			}
		}
		else {
		prvtAcc.value = myEndow - ele.value;
		}
		var error = document.getElementById(ele.id+"_e");

		error.innerHTML = "";
	}
	else {
		var error = document.getElementById(ele.id+"_e");
		error.innerHTML = "Your allocation must be an integer between 0 and " + myEndow +".";
		ele.focus();
		return false
	}
	}
	
	var local_pnts = 0;
	var global_pnts = 0;
	
	function fillContr(ele) {
	if (ele == 'l') {
		if global_pnts
		local_pnts = Math.floor(80 * Math.random());
	var rest = 160 - 2*FC - local;
	var global = Math.floor( rest* Math.random());
	return [local, global];
	
	}	
	}
	else if (ele == 'g' {
	
	}
	}
	
	setTimeout(
		function () {
			alert("Please click 'Next' when you are done reading this page.");
		},
		120*1000 // 120 seconds
	);

		MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
    });

	</script>
{% endblock %}