{% extends "otree/Page.html" %}
{% load staticfiles otree %}

{% block app_styles %}
    {% include 'PGSO_08ABA_ClubOpp_Par3BBB/commonCSS.html' %}
{% endblock %}

{% block title %}
    Round Overview II 
{% endblock %}

{% block content %}

    <br><br>

    <div class="card-body" style="text-align: left; padding-left: 10%;padding-right: 10%;font-size: 18px;">
	<div style="position:relative;left: 10%;width: 80%;background-color: #ffffff">
	<u>Earnings  </u>
		<p> Your earning in each round is: 
			<center> <strong>
			1 * Number of points in your Private Account
			<br> +
			<br> 0.6 * Number of points in <mark_groupAcc>Group Account</mark_groupAcc>
			<br> + 
			<br> if you paid the fee:  0.6 * Number of points in <mark_groupAcc2>Group Account #2</mark_groupAcc2>, 
			</strong> </center>
		</p>
		
	<p>To see an example, click the 'Example' button below. You will need to see 10 examples.  </p>

		<p style="text-align: center"> 
		<button type="button" id="ShowExample" class="otree-btn-next btn btn-primary" 
		style="left:5px; bottom:2px; height: 21px; width: 300px; line-height: 15px; padding: 3px; background-color: #1e8f27; border-color: #1e8f27;"
		onclick="showExampleLandG(this)" > Example  </button>
		</p>
	<div id="example" style="display:none; text-align: center">
	<p > For example, 
	<!-- Hard coding here, may need to change in the future -->
	{{ if HOMO }} your endowment in each round is 20 points, 
	{{ else  }} {{ if myEndow == -1 }} suppose your endowment in each round is <span id='rndm_endow'> </span> points.
				{{ else }} your endowment in each round is {{myEndow}} points. {{ endif }}
	{{ endif }} </p>
	
	<p> Suppose you decide to <span id='pay_not'> </span> the fee. 
	You have <span id='how_much_to_allocate'> </span>  </p>
	<p> Suppose you allocate  <span id='allocation_decision'> </span>  </p>
	<p> Further suppose other participants allocate <span id='allocation_decision_o'> </span> to the two group accounts. </p>
	<p> Your earnings = <span id='earnings'> </span> </p>
	</div>

	
	<p> At the end of each round, your earnings for the round will be recorded. 
		Your payment for part 3 will be determined by the sum of the points 
		that you earn in all three matches with a conversion rate of: {{PointsPerDollar}} points = $1. 
	</p>
		

	<u> Information </u>
	
	<p> You will be able to review both <mark_groupAcc> Group Account </mark_groupAcc> and <mark_groupAcc2>Group Account #2</mark_groupAcc2> 
	information for all previous rounds within a match.</p>

	<p> To achieve this, you need to click the button to review last round information first: 
	<button type="button" class="button_infor_l  btn " readonly> Group Account</button> 
	<button type="button" class="button_infor_g  btn" readonly> Group Account #2 </button></p> 
	<!-- <img style="max-width: 100%" class="center" src="{{ static 'Instruction/LastRoundInfor_LandG_Small.png' }}"/> -->
	
	<p> You will see the group member table is updated with your previous round allocation and the group total account. 
	You may click the relevant buttons to review each member’s allocation or the full history. </p>
	
        <p style="text-align: center"><br/><br/>
            <button class="otree-btn-next btn btn-primary" id="NextButton" style="display:none;">Next</button>
        </p>

    </div>
	</div> 

{% endblock %}


{% block scripts %}
    {% include 'PGSO_08ABA_ClubOpp_Par3BBB/commonJS.html' %}
	<script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
	function randomChoice(arr) {
    return arr[Math.floor(arr.length * Math.random())];
	}	
	
	var FC = js_vars.fc; 
	
	var newEndow = 0 ;
	var MyVariables = {period:0,match:0};

	function showExampleLandG(ele) {

	document.getElementById('example').style.display = "block";
	if (js_vars.endow != -1) {
		var myEndow = js_vars.endow;
		
		}
	else {
		var myEndow = randomChoice([10,30]);
		document.getElementById('rndm_endow').innerHTML = myEndow;
		}
	
	var local_pnts_o = Math.floor((80-myEndow) * Math.random());
	var restt_o = 160 - 8*FC - local_pnts_o - myEndow;
	var global_pnts_o = Math.floor( restt_o* Math.random());
	
	if (Math.round(Math.random())) {
	document.getElementById('pay_not').innerHTML = "not pay";
	document.getElementById('how_much_to_allocate').innerHTML = myEndow +" points to allocate between two accounts.";
	var local_pnts = Math.floor(myEndow * Math.random());
	var prvt_pnts = myEndow - local_pnts;
	document.getElementById('allocation_decision').innerHTML = "<mark_groupAcc>"+local_pnts + "</mark_groupAcc> points the group account, leaving " +prvt_pnts + " in the private account.";
	var earnings = Math.round((prvt_pnts + 0.6*(local_pnts+local_pnts_o) )*10)/10;
	document.getElementById('earnings').innerHTML = "1 * "+prvt_pnts+" + 0.6 * ("+local_pnts+" + "+local_pnts_o+" )="+earnings;

	}
	else {
	document.getElementById('pay_not').innerHTML = "pay";
	var rest = 	myEndow - FC;
	document.getElementById('how_much_to_allocate').innerHTML = rest +" points to allocate among three accounts.";
	var local_pnts = Math.floor(myEndow * Math.random());
	var restt = myEndow - FC - local_pnts;
	var global_pnts = Math.floor( restt* Math.random());
	var prvt_pnts = myEndow - local_pnts - global_pnts;
	document.getElementById('allocation_decision').innerHTML = "<mark_groupAcc>"+local_pnts +"</mark_groupAcc> and <mark_groupAcc2>" +global_pnts+ "</mark_groupAcc2> points to the group accounts, leaving " +prvt_pnts + " in the private account.";
	
	var earnings = Math.round((prvt_pnts + 0.6*(local_pnts+local_pnts_o) + 0.6*(global_pnts+global_pnts_o))*10)/10;
	document.getElementById('earnings').innerHTML = "1 * "+prvt_pnts+" + 0.6 * ("+local_pnts+" + "+local_pnts_o+" ) + 0.6 * ("+global_pnts+" + "+global_pnts_o+")="+earnings;
	
	
	}
	

	document.getElementById('allocation_decision_o').innerHTML =  "<mark_groupAcc>"+local_pnts_o+"</mark_groupAcc> and <mark_groupAcc2>"+global_pnts_o+"</mark_groupAcc2>  points"

	updateText('ShowExample','Example #'+(MyVariables.match+1).toFixed(0));
	MyVariables.match++;
	console.log(MyVariables)

	if (MyVariables.match==10  ) {
				ele.disabled = true;
				document.getElementById('NextButton').style.display="inline-block";
				
		}
	
	}
	
	setTimeout(
		function () {
			alert("Please click 'Next' when you are done reading this page.");
		},
		120*1000 // 120 seconds
	);

		MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
        },
        "HTML-CSS": { availableFonts: ["TeX"] }
    });

	</script>
{% endblock %}