{% extends "otree/Page.html" %}
{% load staticfiles otree %}


{% block scripts %}

{% endblock %}


{% block app_styles %}

    {% include 'PGSO_05ABA_PurePG_Part2A/commonCSS.html' %}

{% endblock %}

{% block title %}
    Part 4
{% endblock %}

{% block content %}

    <p>
	<div style="position:relative;left: 20%;width: 60%;background-color: #ffffff">

        <ol style="text-align: left">
            <li> In this part, you will remain in the same group as in part 2 and 3. 
			You will face the same decision task as in part 2.</li>
			<li>Part 4 is made up of  <strong style="color: red"> 1 match</strong>. It contains a number of rounds with a continuation probability of 90%. </li>

			<li> Each participant must decide how to allocate their points between a Private Account
				and a <mark_groupAcc>Group Account</mark_groupAcc>. </li>
				
			<li> Each point allocated in your Private Account gives you <strong style="color: red"> 1 point </strong> . </li>
			<li> Each point allocated in the <mark_groupAcc>Group Account</mark_groupAcc> gives every member <strong style="color: red"> 0.6 point </strong> .  </li>
			
        </ol>

    </p>
            <p style="text-align: center"><br/>
                <button class="otree-btn-next btn btn-primary" id="NextButton" style="display:inline-block;">Begin Experiment</button>
            </p>
</div>

{% endblock %}
