{% extends "otree/Page.html" %}
{% load staticfiles otree %}

{% block app_styles %}
    {% include 'PGSO_08ABA_ClubOpp_Par3BBB/commonCSS.html' %}
{% endblock %}

{% block scripts %}
    {% include 'PGSO_08ABA_ClubOpp_Par3BBB/commonJS.html' %}

{% endblock %}




{% block title %}
    Quiz
{% endblock %}

{% block content %}

    <div class="card-body" style="text-align: left">
			<div style="position:relative;left: 10%;width: 80%;background-color: #ffffff">

	<!-- <p><strong style="color: blue">Question 9:</strong> -->
	<p><strong style="color: blue">Question 6:</strong>

		(True or False)
		Each point in the <mark_groupAcc2>Group Account #2</mark_groupAcc2> will only benefit people who paid the fee in stage 1. 
        <p style="text-align: center">
                <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button"
            onclick="correctAnswer('This is correct.')">
				True </button>
            <button class="otree-btn-next btn btn-primary" id="startMatchButton" type="button" 
			onclick="incorrectAnswer('This is incorrect. Please raise your hand if you have questions.')">
				False </button>
                       
            </p>

        <p style="text-align: center; color: red;" id="quizMessage">  	</p>
		
    </div>	
	 </div>
	<center>
<button class="otree-btn-next btn btn-primary" id="NextButton" style="display:none;">Next</button>
    <input type="hidden" name="quizHistory6" value="," id="id_testingHistory"/>
	</center> 
{% endblock %}
